
/* Definir o wallpaper*/
body{
    background-image: url('../img/pexels-johannes-plenio-1103970.jpg');
}

/* Estilizar a div de login em geral */
#login{
    background-color: transparent;
    border: 3px solid white;
    position: absolute;
    border-radius: 50px;
    height: 500px;
    width: 500px;
    opacity: 1;
    text-align: center;
    margin-top: 200px;
    margin-left: 655px;
    
}

/* Estilizar a logo*/
#logo{
    width: 130px;
    border: 3px solid white;
    margin-top: 130px;
    margin-left: 840px;
    z-index: 1; 
    position: absolute;
    border-radius: 100px;
}
/* Estilizar o e-mail e password juntos*/
.login-text{
    display: block;
    margin-top: 10px;
    width: 370px;
    height: 50px;
    margin-left: 65px;
    font-size: 20px;
    outline: none;
    letter-spacing: 1px;
    text-indent: 5px;
    background-color: transparent;
    color: black;
    
    border: 0;
    border-bottom: 3px solid white;
    font-family:sans-serif;
    
}
/* Animação ao passar o mouse sobre o e-mail ou password */
.login-text:hover{
    animation: text-hover 1s forwards;
}

/* Mover o e-mail */
#email{
    margin-top: 130px;
}

/* Deixando a senha no modo seguro (como *****) por padrão*/
#password{
    -webkit-text-security: disc;
}



/* Ajustando os olhos de segurança */
.security-eye{
    position: absolute;
    margin-left: 1045px;
    margin-top: 402px;
    width: 39px;
    height: 39px;
    opacity: 0.2;
    z-index: 2;
}

/* Ajustando os olhos de segurança, para quando passar o mosue, ficar como ponteiro */
.security-eye:hover{
    cursor: pointer;
}

/* Deixando o olho aberto como padrão, desligado*/
#opened-eye{
    opacity: 0;
    z-index: 3;
}

/* Animação para o clique nos olhos de segurança */
#opened-eye:active,
#closed-eye:active{
    transform: scale(0.8);
    transition: 0.4s;
}

/* Definindo o olho de segurança fechado como padrão */
#closed-eye{
    z-index: 4;
}

/* Ajustando e estilizando os botões*/
.buttons{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: 2px solid white;
    margin-top: 70px;
    margin-left:-160px;
    z-index: 1;
    position: absolute;
    width: 340px;
    height: 70px;
    border-radius: 0.5cm;
    
}

/* Efeito de passar o mouse sobre o botão de login, e deixar o mouse como ponteiro */
#login-button:hover{
    cursor: pointer;
    animation: login-button-hover-anim 0.18s forwards;
}

/* Definindo as cores do botão de login*/
#login-button{
    background-color: white;
    color: black;
}

/* Ajustando e estilizando o botão de registrar*/
#register-button{
    
    cursor: pointer;
    margin-top: 150px;
    background-color: transparent;
}

/* Animação ao passar o mouse sobre o botão de registrar */
#register-button:hover{
    animation: register-button-hover-anim 0.14s forwards;
}

/* Animação ao clicar nos botões */
#login-button:active,
#register-button:active{
    transform: scale(0.96);
    transition: 0.1s;

    
}

/* Ajustando e estlizando a mensagem de erro */
#error{
    position: absolute;
    margin-top: -160px;
    margin-left: 155px;
    font-family: arial;
    color: rgb(255, 53, 53);
    font-style: italic;
    opacity: 0;
}
    
/* Setando as animações */
@keyframes login-button-hover-anim {
    from{
        background-color: white;
    }
    to{
        border-color: rgb(211, 211, 211);
        background-color: rgb(211, 211, 211);
        height: 73px;
    }
}

@keyframes register-button-hover-anim {
    from{
        background-color: transparent;
    }
    to{
        border-color: rgb(211, 211, 211);
        background-color: rgb(221, 221, 221);
        height: 73px;
    }
}

/* Deixando o site responsivo */
@media screen and (max-width: 361px){
    *{
        max-width: 100%;
        height: auto;
        transform: scale(0.9);
        margin-left: -278px;
    }
    #logo{
        margin-left: 778px;
        margin-top: 160px;
    }
    .login-text{
        margin-left: 0px;
        transform: scale(0.8);
    }
    .security-eye{
        margin-left: 930px;
    }
}
@media screen and (min-width:362px) and (max-width: 768px) {
    /* Estilos para telas menores (exemplo: smartphones) */
    *{
        max-width: 100%;
        height: auto;
        transform: scale(0.9);
        margin-left: -275px;
    }
    .login-text{
    
        margin-left: 20px;
    }
    .buttons{
        margin-left: -170px;
    }
    #email{
        margin-top: 130px;
    }
    .security-eye{
        margin-left: 550px;
    }
    #logo{
        margin-left: 800px;
    }
  }
  
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para telas médias (exemplo: tablets) */
    *{
        max-width: 100%;
        height: auto;
        margin-left: -245px;
    }
  }
  
